
<div class="navbar navbar-inverse" >
    <ul>
        {{#if message}}
            <span class="navbar-brand">{{message}} </span>
            <a class="btn btn-primary" href="/auth/login">Login</a>
            <a class="btn btn-primary" href="/auth/register">Register</a>
        {{/if}}

        {{#if currentUser.username}}
            <span class="navbar-brand"> Welcome :: {{currentUser.username}} </span>
            <a class="btn btn-primary" href="/auth/logout">Logout</a>
        {{/if}}
    </ul>
</div>